%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{validate_app_modules, true}.
{deps_dir, "deps"}.
{deps,
 [{mochiweb, "1.5.2", {git, "git://github.com/mochi/mochiweb.git", "1.5.2"}}]}.
{xref_warnings, false}.
{xref_checks, [undefined_function_calls]}.
